<main class="container mt-4">
    <% if (title == 'Home') { %>
        <h1>Welcome to my site</h1>
        <p>I have done many projects in many different areas in life.</p>
        <p>I hope you like this website and enjoy your time.</p>
        <p>Thank you for checking out my Website.</p>
        <%
    } else if (title == 'About') { %>
        <h1>About me</h1>
        <p>Name: Ghayas Sher</p>
        <p>Age: 21 Years Old</p>
        <p>University: Ontario Tech University</p>
        <p>Program: Networking and IT security</p>
        <p>Hobbies: Soccer, Gym, Reading, Road Trips</p>
        <%
    } else if (title == 'Projects') { %>
        <h1>Here I will list some projects I have done.</h1>
        <p>Projects:</p>
        <p>1. Electric Go Kart </p>
        <p>2. Hydraulic Arm </p>
        <p>3. Personal Website </p>
        <%
    } else if (title == 'Contact') { %>
        <h1>Contact</h1>
        <p> Email / form / whatever they asked for. </p>
        <%    
    } %> 
</main>