<main class="container mt-4">
  <% if (title == 'Home') { %>
    <!-- MAIN CONTENT -->
    <div class="container py-5" id="home">
      <div class="text-center mb-5">
        <h1 class="fw-bold">Welcome to my site</h1>
        <p class="text-muted mb-0">
          I have done many projects in many different areas in life. 
          I hope you like this website and enjoy your time. 
          Please choose from the following.
        </p>
      </div>

      <!-- all the cards row -->
      <div class="row row-cols-1 row-cols-md-3 g-4 text-center">
        <!-- About Me card -->
        <div class="col">
          <div class="card h-100 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">About Me</h4>
            </div>
            <div class="card-body">
              <a href="/about" class="w-100 btn btn-lg btn-primary">About Me</a>
            </div>
          </div>
        </div>

        <!-- Projects card -->
        <div class="col">
          <div class="card h-100 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Projects</h4>
            </div>
            <div class="card-body">
              <a href="/projects" class="w-100 btn btn-lg btn-primary">Projects</a>
            </div>
          </div>
        </div>

        <!-- Contact Me card -->
        <div class="col">
          <div class="card h-100 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Contact Me</h4>
            </div>
            <div class="card-body">
              <a href="/contact" class="w-100 btn btn-lg btn-primary">Contact Me</a>
            </div>
          </div>
        </div>

        </div>
        <div class="container py-5" id="home">
            <div class="text-center mb-5">
                <h1 class="fw-bold">Thank you for checking out my Website.</h1>
      </div>
    </div>

  <% } else if (title == 'About') { %>
    <div class="container py-5" id="About">
      <div class="text-center mb-5">
        <h1>About me</h1>
        <p>Name: Ghayas Sher</p>
        <p>Age: 21 Years Old</p>
        <p>University: Ontario Tech University</p>
        <p>Program: Networking and IT security</p>
        <p>Hobbies: Soccer, Gym, Reading, Road Trips</p>
        <p>Here are some videos of my greatness in soccer</p>
       </div> 
    <div class="row g-4">
    <!-- picture -->
    <div class="col-md-4 text-center">
      <img src="/Pictures/Project_Image.jpg" class="img-fluid rounded" alt="Ghayas photo" style="max-width: 250px;"> 
    </div>

    <!-- video 1 -->
    <div class="col-md-4 text-center">
      <video src="/Videos/Project_Vid.mp4" class="img-fluid rounded" controls></video>
    </div>

    <!-- video 2 -->
    <div class="col-md-4 text-center">
      <video src="/Videos/Project_Vid2.mp4" class="img-fluid rounded" controls></video>
    </div>
  <% } else if (title == 'Projects') { %>
    <div class="container py-5" id="Projects">
      <div class="text-center mb-5">
        <h1>Here I will list some projects I have done.</h1>
        <p>Projects:</p>
        <p>1. Electric Go Kart</p>
        <p>2. Hydraulic Arm</p>
        <p>3. Personal Website</p>
  <% } else if (title == 'Contact') { %>
    <div class="container py-5" id="Contact">
        <main class="container mt-4 mb-5">
            <div class="text-center mb-5"></div>
            <h1 class="mb-4">Contact Me</h1>

            <!--  Contact me Page Setup -->
            <form class="row g-3 needs-validation" action="/contact" method="post" novalidate>
                <!-- First name box -->
                <div class="col-md-4">
                    <label for="firstName" class="form-label">First name</label>
                    <input type="text" class="form-control" id="firstName" required>
                </div>

                <!-- last name box -->
                <div class="col-md-4">
                    <label for="lastName" class="form-label">Last name</label>
                    <input type="text" class="form-control" id="lastName" required>
                </div>

                <!-- email box -->
                <div class="col-md-6">
                    <label for="email" class="form-label">Email Address</label>
                    <input type="email" class="form-control" id="email" required>
                    <div class="invalid-feedback">
                        INVALID EMAIL! PLEASE PROVIDE A VALID EMAIL!
                    </div>
                </div>

                <!-- message box -->
                <div class="col-md-12">
                    <label for="message" class="form-label">Message</label>
                    <textarea class="form-control" id="message" rows="4" required></textarea>
                    <div class="invalid-feedback">
                        Please enter a message.
                    </div>
                </div>

                <!-- submit box -->
                <div class="col-12">
                    <button class="btn btn-primary" type="submit">Submit form</button>
                </div>
            </form>
        </main>
  <% } %>
</main>

<!-- mainly done from the lecture and then the source code of the pricing site. 
 I got rid of whatever i didnt want, and added what ever i needed like the messages 
 or chatbox. -->





