    <footer>
          <nav class="navbar fixed-bottom navbar-dark bg-dark">
            <h6 class="navbar-text">&copy; Copyright 2025. All rights reserved. </h6>
            <div class="links"> <!-- socials -->
              <a href="https://github.com/YNFC/Assignment-2" class="mx-2"> <i class="fa-brands fa-lg fa-github"></i></a> <!-- github -->
              <a href="https://www.linkedin.com/in/ghayas-sher-21-20-66-46-/" class="mx-2"><i class="fa-brands fa-lg fa-linkedin"></i></a> <!-- linkedin -->
          </nav>
        </footer>
        <script src="/Script/app.js"></script>
      </body>
    </html>

  <!-- this is my footer page. While mainly done from that navbar site and lecture i added the 2 links
   for github and linkedin. href where we add the links and the class=mx-2 is so the icons dont pile 
   ontop each other, adds a horizontal margin and then we added the icons and enlarged them for both links. -->